body {
  font-family: "Taviraj", "sans-serif";
  height: 100%;
  width: 100%;
  background-image: linear-gradient(45deg, #bd0d0d, #8d0a0a, #192985, #111c5a);
  background-size: 300%, 100%;
  animation: gradient 8s linear infinite;
  animation-direction: alternate; }

h1, h2, h3 {
  font-family: "Work Sans", "serif"; }

h2 {
  font-style: italic; }

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(-45deg, #192985, #1d309a, #bd0d0d, #d50f0f);
  background-size: 300%, 100%;
  animation: gradient 8s linear infinite;
  animation-direction: alternate;
  color: white; }

@keyframes gradient {
  0% {
    background-position: 0%; }
  100% {
    background-position: 100%; } }

.navbar {
  background-color: #e9ecef; }
  .navbar .navbar-toggler:active {
    border-color: rgba(0, 0, 0, 0.1); }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.indexImg {
  width: 100%;
  min-height: 50vw;
  padding: 1rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover; }

#indexImg-1 {
  background-image: url(../imgs/restaurant-alcohol-bar-drinks.png); }

#indexImg-2 {
  background-image: url(../imgs/beertaps.png); }

#indexPitch p {
  padding-left: 1rem; }

#indexPitch i {
  margin-left: -1.25rem; }

.footerLogo {
  height: auto;
  width: 2rem;
  max-width: 130px; }

.faq-question {
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center; }

h3 {
  text-align: center; }

.faq-question:hover {
  cursor: pointer; }

.faqs {
  perspective: 1000px;
  -webkit-perspective: 1000px;
  transform: rotate3d(0, 1, 0, 0deg);
  -webkit-transform: rotate3d(0, 1, 0, 0deg); }
  .faqs .faq {
    width: 80%;
    margin: 0 auto;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d; }
    .faqs .faq .faq-answer {
      -webkit-transform: rotate3d(1, 0, 0, -90deg);
      transform: rotate3d(1, 0, 0, -90deg);
      -webkit-transform-origin: center top;
      transform-origin: center top;
      -webkit-transition-duration: 0.75s;
      transition-duration: 0.75s;
      visibility: hidden; }

.reveal {
  -webkit-transform: perspective(600px) rotate3d(1, 0, 0, 0deg) !important;
  transform: perspective(600px) rotate3d(1, 0, 0, 0deg) !important;
  visibility: visible !important; }

@keyframes spinFromTop {
  0% {
    -webkit-transform: rotate3d(1, 0, 0, 80deg) rotate3d(0, 0, 1, 720deg) translate3d(0em, 20em, 40em);
    transform: rotate3d(1, 0, 0, 80deg) rotate3d(0, 0, 1, 720deg) translate3d(0em, 20em, 20em); }
  25% {
    -webkit-transform: rotate3d(1, 0, 0, 80deg) rotate3d(0, 0, 1, 540deg) translate3d(0em, 15em, 30em);
    transform: rotate3d(1, 0, 0, 80deg) rotate3d(0, 0, 1, 540deg) translate3d(0em, 15em, 15em); }
  50% {
    -webkit-transform: rotate3d(1, 0, 0, 80deg) rotate3d(0, 0, 1, 360deg) translate3d(0em, 10em, 20em);
    transform: rotate3d(1, 0, 0, 80deg) rotate3d(0, 0, 1, 360deg) translate3d(0em, 10em, 10em); }
  75% {
    -webkit-transform: rotate3d(1, 0, 0, 80deg) rotate3d(0, 0, 1, 180deg) translate3d(0em, 5em, 10em);
    transform: rotate3d(1, 0, 0, 80deg) rotate3d(0, 0, 1, 180deg) translate3d(0em, 5em, 5em); }
  100% {
    -webkit-transform: rotate3d(1, 0, 0, 0deg) rotate3d(0, 0, 1, 0deg) translate3d(0em, 0em, 0em);
    transform: rotate3d(1, 0, 0, 0deg) rotate3d(0, 0, 1, 0deg) translate3d(0em, 0em, 0em); } }

.modalAnimation1 {
  animation-name: spinFromTop;
  animation-duration: 3s;
  animation-timing-function: linear; }

@keyframes floatDown {
  0% {
    -webkit-transform: translate(-20em, -20em);
    transform: translate(-20em, -20em); }
  25% {
    -webkit-transform: translate(20em, -13em);
    transform: translate(20em, -13em); }
  50% {
    -webkit-transform: translate(-15em, -10em);
    transform: translate(-15em, -10em); }
  75% {
    -webkit-transform: translate(-8em, -5em);
    transform: translate(-8em, -5em); }
  100% {
    -webkit-transform: translate(0em, 0em);
    transform: translate(0em, 0em); } }

@keyframes swing {
  0% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg); }
  25% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg); }
  50% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg); }
  75% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

.modalAnimation2-float {
  top: 10em;
  animation-name: floatDown;
  animation-duration: 5s;
  animation-timing-function: linear; }

.modalAnimation2-swing {
  animation-name: swing;
  animation-duration: 5s;
  animation-timing-function: ease-in-out; }

@keyframes spinny {
  0% {
    transform: rotate(0deg) scale(0.1, 0.1); }
  50% {
    transform: rotate(1080deg) scale(0.5, 0.5); }
  100% {
    transform: rotate(1440deg) scale(1, 1); } }

.modalAnimation3 {
  animation-name: spinny;
  animation-duration: 2s;
  animation-timing-function: linear; }

#orderModal {
  background-image: linear-gradient(-45deg, rgba(25, 41, 133, 0.5), rgba(33, 54, 176, 0.5), rgba(189, 13, 13, 0.5), rgba(237, 16, 16, 0.5));
  background-size: 300%, 100%;
  animation: gradient 8s linear infinite;
  animation-direction: alternate; }
  #orderModal .modal-header {
    background-color: #192985; }
  #orderModal .modal-body {
    background-color: #bd0d0d; }
